@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");

:root {
  --primary-color: #4502c7;
  --text-color: #25282b;
}

* {
  font-family: "Lexend Deca", serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f8f8f8;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

/* Container */
.container {
  width: 1184px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1199.98px) {
  .container {
    width: 960px;
  }
}

@media screen and (max-width: 991.98px) {
  .container {
    width: 720px;
  }
}

@media screen and (max-width: 767.98px) {
  .container {
    width: 540px;
  }
}

@media screen and (max-width: 575.98px) {
  .container {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }
}
/* End Container */

/* Top Header */
.top-header {
  background-color: var(--primary-color);
  padding: 10px 0;
}

.top-header .inner-wrap {
  display: flex;
  justify-content: flex-end;
  gap: 5px 40px;
}

.top-header .inner-item {
  color: #fffbeb;
  font-size: 14px;
  font-weight: 400;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.top-header .inner-item i {
  font-size: 20px;
}

@media screen and (max-width: 767.98px) {
  .top-header {
    display: none;
  }
}
/* End Top Header */

/* Header */
.header {
  background-color: #ffffff;
  padding: 12px 0;
}

.header .inner-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .inner-logo img {
  height: 50px;
  width: auto;
}

.header .inner-menu > ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
  gap: 5px 40px;
}

.header .inner-menu > ul > li {
  position: relative;
}

.header .inner-menu > ul > li > a {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
}

.header .inner-menu > ul > li > a.active,
.header .inner-menu > ul > li > a:hover {
  color: var(--primary-color);
}

.header .inner-menu > ul > li > ul {
  position: absolute;
  top: 100%;
  left: 0;
  list-style-type: none;
  margin: 0;
  padding: 8px 0;
  background-color: #fff;
  border-radius: 0 0 10px 10px;
  width: 280px;
  z-index: 999;
  display: none;
}

.header .inner-menu > ul > li:hover > ul {
  display: block;
}

.header .inner-menu > ul > li > ul > li > a {
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 400;
  padding: 8px 22px;
  display: block;
  text-transform: capitalize;
}

.header .inner-menu > ul > li > ul > li > a.active,
.header .inner-menu > ul > li > ul > li > a:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.header .inner-cart a {
  display: inline-flex;
  align-items: center;
}

.header .inner-cart img {
  height: 26px;
  width: auto;
}

.header .inner-cart span {
  background-color: #ff3904;
  display: inline-block;
  border-radius: 3px;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  padding: 1px 5px;
  margin-left: 5px;
  position: relative;
}

.header .inner-cart span::before {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 1.9px solid transparent;
  border-bottom: 1.9px solid transparent;
  border-right: 3.8px solid #ff3904;
  position: absolute;
  top: 6.2px;
  left: -3.4px;
}

.header .inner-menu-mobile {
  display: none;
}

/* Responsive Header */
@media screen and (max-width: 1199.98px) {
  .header .inner-menu > ul {
    gap: 5px 24px;
  }
}

@media screen and (max-width: 991.98px) {
  .header .inner-menu {
    display: none;
  }

  .header .inner-menu-mobile {
    display: inline-flex;
    font-size: 22px;
    color: var(--text-color);
    background-color: transparent;
    padding: 0;
    border: 0;
    cursor: pointer;
  }
}

@media screen and (max-width: 575.98px) {
  .header .inner-logo img {
    height: 40px;
  }
}
/* End Responsive Header */

/* End Header */

/* Section 1 */
.section-1 {
  background-image: url("../images/background-1.jpg");
  padding: 106px 0 108px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.section-1 .inner-wrap {
  width: 768px;
  margin: 0 auto;
}

.section-1 .inner-title {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  color: var(--primary-color);
}

.section-1 .inner-desc {
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: var(--text-color);
}

.section-1 .inner-form {
  background-color: #00000066;
  border-radius: 10px;
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
}

.section-1 .inner-form .inner-box .inner-input-group {
  background-color: #fff;
  border-radius: 10px;
  padding: 18px 12px;
  display: flex;
  align-items: center;
}

.section-1 .inner-form .inner-box .inner-input-group .inner-icon {
  width: 20px;
  height: auto;
  margin-right: 14px;
}

.section-1 .inner-form .inner-box .inner-input-group .inner-input {
  flex: 1;
  outline: none;
  border: 0;
  font-size: 14px;
  font-weight: 400;
  color: var(--text-color);
}

.section-1 .inner-form .inner-box .inner-input-group .inner-input::placeholder {
  color: #a6a6a6;
}

.section-1 .inner-form .inner-box .inner-input-group .inner-down {
  font-size: 12px;
  color: var(--primary-color);
}

.section-1 .inner-form .inner-box.inner-address {
  width: 100%;
}

.section-1 .inner-form .inner-box.inner-user,
.section-1 .inner-form .inner-box.inner-calendar {
  width: 37.5%;
}

.section-1 .inner-form .inner-button {
  flex: 1;
  border-radius: 10px;
  border: 0;
  background-color: var(--primary-color);
  box-shadow: 0px 3.3px 3.3px 0px #00000040;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.section-1 .inner-form .inner-button i {
  font-size: 20px;
}
/* End Section 1 */
